# Python ETL using Kaggle API

In [200]:
# Import libraries
!pip install kaggle
import kaggle

Requirement already satisfied: kaggle in c:\users\tangd\anaconda3\lib\site-packages (1.6.14)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\tangd\anaconda3\lib\site-packages (from kaggle) (2024.6.2)
Requirement already satisfied: urllib3 in c:\users\tangd\anaconda3\lib\site-packages (from kaggle) (1.26.11)
Requirement already satisfied: six>=1.10 in c:\users\tangd\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: tqdm in c:\users\tangd\anaconda3\lib\site-packages (from kaggle) (4.64.1)
Requirement already satisfied: python-dateutil in c:\users\tangd\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: bleach in c:\users\tangd\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: requests in c:\users\tangd\anaconda3\lib\site-packages (from kaggle) (2.28.1)
Requirement already satisfied: python-slugify in c:\users\tangd\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: webencodings in c:\users\tangd\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: packaging in c:\users\tangd\anaconda3\lib\site-packages (from bleach->kaggle) (21.3)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\tangd\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\tangd\anaconda3\lib\site-packages (from requests->kaggle) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\tangd\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: colorama in c:\users\tangd\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\tangd\anaconda3\lib\site-packages (from packaging->bleach->kaggle) (3.0.9)

In [201]:
# Download dataset/s using kaggle api
!kaggle datasets download ankitbansal06/retail-orders

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
retail-orders.zip: Skipping, found more recently modified local copy (use --force to force download)

In [202]:
# Extract file from zip file
import zipfile

zip_path = zipfile.ZipFile(r'C:\Users\tangd\Documents\SQL+Python_Project\retail-orders.zip') 
zip_path.extractall() # if both(python & data files) at same location then need to give only this - 'retail-orders.zip'
# extract file to dir, if path is not given it will extract file at same location if it present with python file folder
zip_path.close() # close file

In [203]:
#read data from the file and handle null values
import pandas as pd
df = pd.read_csv('orders.csv')
df.head(10)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,Not Available,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,Not Available,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3

In [204]:
df.info() # need to convert order_date to datetime datatype

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order Id          9994 non-null   int64
 1   Order Date        9994 non-null   object
 2   Ship Mode         9993 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub Category      9994 non-null   object
 11  Product Id        9994 non-null   object
 12  cost price        9994 non-null   int64
 13  List Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount Percent  9994 non-null   int64
dtypes: int64(6), object(10)
memory usage: 1.2+ MB

In [205]:
df.dtypes

Order Id             int64
Order Date          object
Ship Mode           object
Segment             object
Country             object
City                object
State               object
Postal Code          int64
Region              object
Category            object
Sub Category        object
Product Id          object
cost price           int64
List Price           int64
Quantity             int64
Discount Percent     int64
dtype: object

In [206]:
#convert order date from object data type to datetime
df['Order Date']=pd.to_datetime(df['Order Date'],format="%Y-%m-%d")

In [207]:
# looking for missing values
missing_data = df.isnull().sum().sort_values(ascending = False)
print(missing_data)

Ship Mode           1
Order Id            0
Order Date          0
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [208]:
df['Ship Mode'].unique() # I want to treat Not Available and unknown as null, nan is okay

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [209]:
df = pd.read_csv('orders.csv',na_values=['Not Available','unknown'])
df.head(10)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,NaN,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3

In [210]:
#rename columns names, make them lower case and replace space with underscore
#df.rename(columns={'Order Id':'order_id', 'City':'city'}) This is lengthy way
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [211]:
# derive new columns discount, sale price and profit
df['discount']=df['list_price']*df['discount_percent']*.01
df['sale_price']=df['list_price']-df['discount']
df['profit']=df['sale_price']-df['cost_price']
df.head(2)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1

In [212]:
#drop cost price list price and discount percent columns
df.drop(columns=['list_price','cost_price','discount_percent'],inplace=True)
df.head(2)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1

# Load data to SQL Server

In [213]:
#df.to_csv('orders.csv', index=False)
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [214]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\tangd\anaconda3\lib\site-packages (2.9.9)

In [215]:
'postgresql+psycopg2://username:password@host:port/database'

'postgresql+psycopg2://username:password@host:port/database'

In [216]:
import sqlalchemy as sal

# Replace the following placeholders with your actual PostgreSQL credentials
username = 'postgres'
password = '199202'
host = 'localhost'  # Usually 'localhost' or the IP address of your PostgreSQL server
port = '5432'  # Usually 5432 for PostgreSQL
database = 'Music'

# Create the connection string
connection_string = f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}'

# Create the engine
engine = sal.create_engine(connection_string)

# Connect to the database
conn = engine.connect()

# Example: Load data into the PostgreSQL database
# Assuming 'df' is your pandas DataFrame
df.to_sql('orders', con=engine, if_exists='append', index=False) 
#We can use 'replace' method in which no need of 'schema' for table at sql server pgadmin but it might not use proper datatypes.

# Close the connection (if needed)
conn.close()

In [217]:
# load the data into sql server using replace option
#import sqlalchemy as sal
#engine = sal.create_engine('postgres://ANKIT\SQLEXPRESS/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
#conn=engine.connect()